body {
  background: #050608;
  font-family: "Exo", sans-serif;
  color: white;
}

.active {
  color: #f5821f !important;
  font-weight: 700;
}

body header {
  padding: 30px;
}

header .bike-illustrator {
  width: 500px;
}

.services-header .bike-illustrator-services {
  width: 600px;
}

.contact-header .open-illustrator {
  width: 250px;
}

section .email-illustrator {
  width: 250px;
  display: block;
  margin: 0 auto;
}
.card-body {
  background: #f5821f !important;
  color: white !important;
}

strong {
  color: #f5821f;
}

header img {
  display: block;
  margin: 0 auto;
  width: 1000px;
}

a {
  font-size: 10px;
  text-decoration: none;
  color: white;
  text-align: center !important;
}

.button-check {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 175px;
  border-radius: 8px;
  padding: 10px 15px;
  border: none;
  background: #f5821f;
  color: white;
  font-size: 16px;
  transition: all 200ms ease-in-out;
}

.button-check:hover {
  background: white;
  color: #f5821f;
  font-size: 16px;
  cursor: pointer;
}

.illustrator-credit {
  text-align: center;
  padding: 0;
  margin: 0;
}

.social-links a {
  color: #f5821f;
  font-size: 20px;
}

.social-links a:hover {
  color: white;
}

a:hover {
  font-style: italic;
}

.services-header h1 {
  color: #f5821f;
  text-align: center;
  font-weight: 900;
}

.contact-header h1 {
  color: #f5821f;
  text-align: center;
  font-weight: 900;
}

iframe {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}

section {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  background: #f5821f;
  padding: 20px;
  border-radius: 30px;
}

footer {
  font-size: 10px;
}

@media (max-width: 960px) {
  body header {
    padding: 20px 0;
    margin: 20px 0;
    margin-bottom: 0;
  }

  header img {
    width: 320px;
  }

  main h1 {
    font-size: 40px;
  }

  .services h3 {
    font-size: 12px;
  }

  .contact-header h3 {
    padding-top: 30px !important;
  }

  iframe {
    width: 150 !important;
  }
}
